<!DOCTYPE html>
<html lang="zh-cn">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>平台管理中心</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'self/css/pintuer.css' %}">
    <link rel="stylesheet" href="{% static 'self/css/admin.css' %}">
    <script src="{% static 'pingtai/js/jquery.js' %}"></script>
</head>
<style>
    .leftnav-title{
        background-color:#586933;
    }
</style>
<body style="background-color:#f2f9fd;">
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1>
      <img src="/media/{{ img }}" class="radius-circle rotate-hover" height="50" alt="" />管理中心
    </h1>
  </div>
  <div class="head-l">
    <a class="button button-little bg-green" style="background:#586933;border-color:#586933;" href="{% url 'self:index' name %}" target="_blank">
      <span class="icon-home"></span> 
      个人博客首页
    </a> &nbsp;&nbsp;
     <a class="button button-little bg-red" style="background:#A79C87;border-color:#A79C87;color:black;" href="{% url 'pingtai:loginout' %}"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
  <h2><span class="icon-user"></span>分类管理</h2>
  <ul style="display:block">
    <li><a href="{% url 'self:cate' %}" target="right"><span class="icon-caret-right"></span>个人分类管理</a></li>
  </ul>
  <h2><span class="icon-pencil-square-o"></span>文章管理</h2>
  <ul>
    <li><a href="{% url 'self:listcontent' %}" target="right"><span class="icon-caret-right"></span>查看文章</a></li>
    <li><a href="{% url 'self:content' %}" target="right"><span class="icon-caret-right"></span>添加文章</a></li>
  </ul>
    <h2><span class="icon-pencil-square-o"></span>评论管理</h2>
  <ul>
    <li><a href="list.html" target="right"><span class="icon-caret-right"></span>查看评论</a></li>
  </ul>
    <h2><span class="icon-pencil-square-o"></span>链接</h2>
  <ul>
    <li><a href="list.html" target="right"><span class="icon-caret-right"></span>查看链接</a></li>
  </ul>
    <h2><span class="icon-pencil-square-o"></span>留言管理</h2>
  <ul>
    <li><a href="{% url 'self:listliuyan' %}" target="right"><span class="icon-caret-right"></span>查看留言</a></li>
  </ul>
    <h2><span class="icon-pencil-square-o"></span>个人中心</h2>
  <ul>
    <li><a href="{% url 'pingtai:person' %}" target="right"><span class="icon-caret-right"></span>查看信息</a></li>
  </ul>
</div>
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
});
</script>
<ul class="bread">
  <li><a href="{:U('Index/info')}" target="right" class="icon-home"> 首页</a></li>
  <li><a href="##" id="a_leader_txt">网站信息</a></li>
  <li><b>当前语言：</b><span style="color:red;">中文</php></span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;切换语言：<a href="##">中文</a> &nbsp;&nbsp;<a href="##">英文</a> </li>
</ul>
<div class="admin">
  <iframe scrolling="auto" rameborder="0" src="" name="right" width="100%" height="100%"></iframe>
</div>
<div style="text-align:center;">
</div>
</body>
</html>