<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
  {% load static %}
<link rel="stylesheet" href="{% static 'self/css/pintuer.css' %}">
<link rel="stylesheet" href="{% static 'self/css/admin.css' %}">
<script src="{% static 'pingtai/js/jquery.js' %}"></script>
<script src="{% static 'pingtai/js/pintuer.js' %}"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong></div>
  <div class="padding border-bottom">  
  <button type="button" class="button border-yellow" onclick="window.location.href='#add'"><span class="icon-plus-square-o"></span> 添加内容</button>
  </div>
  <table class="table table-hover text-center">
    <tr>
      <th width="33%">序号</th>
      <th width="33%">分类</th>
      <th width="33%">操作</th>
    </tr>

    {% for item in cate %}
    {% csrf_token %}
    <tr id="c{{ item.id }}">
      <td>{{ forloop.counter }}</td>
      <td contenteditable="true" id="name{{ item.id }}" onblur="editCate({{ item.id }})">{{ item.name }}</td>
      <td><div class="button-group">
          <a class="button border-red" href="javascript:void(0)" onclick="return del({{ item.id }})"><span class="icon-trash-o"></span> 删除</a> </div></td>
    </tr>
    {% endfor %}

    
  </table>
</div>
<script type="text/javascript">
function del(id){
	$.ajax({
        url:"/self/delCate/",
        type:"post",
        dataType:"json",
        data:{id:id},
        success:function(e){
            if(e['code']=="ok"){
                if(confirm("您确定要删除吗?")){
                    console.log(id)
                    $("#c"+id).detach()
                }
            }else{
                    alert("删除失败")
                  }
        }
    })
}
</script>
<div class="panel admin-panel margin-top" id="add">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 增加内容</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="/self/cate/">
      {% csrf_token %}
      <div class="form-group">
        <div class="label">
          <label>博客分类名称：</label>
        </div>
        <div class="field">
          <!--<input type="text" class="input w50" value="" name="title" data-validate="required:请输入名称" />-->
          {{ form.name }}
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
    function editCate(id){
    console.log(id)
    $.ajax({
        url:"/self/editCate/",
        type:"post",
        dataType:"json",
        data:{id:id,name:$("#name"+id).text()},
        success:function(e){
            if(confirm("您确定要修改吗?")){
                 alert("修改成功")
            }
        }
    })
  }
</script>
</body></html>